

  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="h1-title">[ COVID-19 ]</h1>
          <p class="text-center">
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
          </p>
        </div>
      </div>
    </div>
  </section>

<br> <br>

  <section id="search">
  <label>Country</label>

  <select (change)="getCountry($event.target.value)"> 
      <option *ngFor ="let country of countries" value="{{country.Slug}}">
          {{country.Country}}
      </option>
  </select> 
    
<button style="color: black; background-color: aqua;"  (click)="getCoronaData()">SUBMIT</button>
</section>
  

<br> <br>
  
  
    
  

   


   <section id="header1">
    
   <div class="row">
      <div class="col-md-4 md-3">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">INFECTED</h3>
            <h1>Confirmed cases : {{confirmed}}</h1>
          </div>
        </div>
      </div>
    
  
     <div class="col-md-4 md-3">
      <div class="card card-recovered">
        <div class="card-body">
          <h3 class="card-title">RECOVERED</h3>
          <h1>Recovered cases:{{recovered}}</h1>
        </div>
      </div>
     </div>
       
     
     <div class="col-md-4 md-3">
      <div class="card card-deaths">
        <div class="card-body">
          <h3 class="card-title">DEATHS</h3>
          <h1>Death cases :{{deaths}}</h1>
        </div>
      </div>
     </div>
    </div>
     </section>
  
     <br> <br>

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <h3>SHIVANI GUJJA</h3>
          <p class="fas fa-heart"> </p>
          
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6">
          <h3>Keep in touch</h3>
          <ul class="list-unstyled">
            <li><p><strong><i class="fas fa-map-marker-alt"></i> Address:</strong> Bangalore, Yelhanka</p></li>
            <li><p><strong><i class="fas fa-envelope"></i> Email:</strong> <a href="#"> gujjashivani@gmail.com</a></p></li>
            <li><p><strong><i class="fas fa-phone"></i> Phone:</strong> +01 123 45 678</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>



<router-outlet></router-outlet>
